/* ================= Feedback Form Sections================= */

.feedbackFormTop ,.feedbackFormMiddle{
    display: flex;
    justify-content: left;
    gap: 0.5rem;
   
    width: 100%;
    align-items: center;
}
.feedbackFormMiddle{
    flex-direction: column;
    align-items: first baseline;
}
.form-label{
    margin: 0 !important;
   font-size: 0.7rem;
     text-align: left;
      color: #94a3b8;
}
.feedbackForm{
    background: rgba(15, 32, 64, 0.97);
    border: 1px solid rgba(59, 130, 246, 0.18);
    padding: 1rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: first baseline;

}
/* ================= Given Feedback Card ================= */

.card{
   flex-direction: row-reverse;
   justify-content: space-between;
}

.star-rating span {
  font-size: 28px;
  cursor: pointer;
  color: #ccc;
  transition: 0.2s;
}

.star-rating span.active {
  color: #60a5fa; 
}

.star-rating span:hover {
  transform: scale(1.2);
}
.feedbackList{
    max-height: 30svh;
    overflow-y: scroll;
}
.feedbackList::-webkit-scrollbar{
    width: 0;
}